*{
    margin: 40px;
    padding: 0;
    background-color: $black;
    align-items: center;
    box-sizing: border-box;
    font-family:  "Montserrat", sans-serif;
}




    .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .imagem-banner{
        border:1px solid gray;
        margin:2rem;
    }

    .menu{

        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        color: orange;
        align-items: center;
        list-style:none;
    }

    .titulo-main{
        font-size:1.3rem;
        padding:2rem;
        color:#d3d3d3;
    }

    .subtitulo-main{
        color:#bdbebd;
    }

    .imagem-main{
        border-radius: 3rem;
        margin: 2rem;
        text-align: center;
        border:3px solid gray;
    }

    .texto-main{
        color:#949494;
        margin:2rem;
        text-align: center;
    }

    footer{
        display: flex;
        justify-content: center;
    }

    footer img{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .container{
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: black;
        color: beige;
    }

    .image-footer{
        text-align: center;
        margin-bottom:1rem;
    }

    .footer-texto:hover{
        color:#d3d3d3;
    }

    .footer-texto:active{
        color:#6a6a6a;
    }

 
